<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    {% extends 'layout.html' %}

    {% block content %}
    <h1>My Projects</h1>
    
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li>
                    <strong>{{ project.title }}</strong><br>
                    <em>{{ project.yearCreated }}</em><br>
                    <p>{{ project.description }}</p>
                    <p><strong>Technologies Used:</strong> {{ project.technology }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No projects found.</p>
    {% endif %}

    {% endblock %}
</body>
</html>
